@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

$primary-color: slateblue;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-family: "Roboto Slab", serif;
  outline: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  min-height: 550px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  --transition: all 0.1s ease-in-out;
}

body.dark {
  // =================================
  // Calculator colors
  // =================================
  --color: #e9f6fb;
  --color-dark: #788c97;
  --background: #1e3c44;
  --background-content: #22434a;
  --background-hovered: #294b52;
  --box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  --primary: #a6df38;

  --body-background: rgb(13, 40, 48);

  background: var(--body-background);
}

body.light {
  // =================================
  // Calculator colors
  // =================================
  --color: #696969;
  --color-dark: #c1c8c1;
  --background: #fbfdfc;
  --background-content: #ffffff;
  --background-hovered: #f5f6f8;
  --box-shadow: 2px 2px 3px 0 #e3e3e3;
  --primary: #a6df38;

  --body-background: #f1f1f1;

  background: var(--body-background);
}

#display__text {
  user-select: text;
  -webkit-user-drag: none;
}

.menu-wrapper__title {
  color: var(--color);

  font-weight: 400;

  padding-bottom: 8px;
}
.menu-wrapper__item {
  color: var(--color-dark);
  font-weight: normal;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition);

  display: flex;
  align-items: center;

  fill: var(--color-dark);

  border-left: 2px solid transparent;

  &:hover {
    background: var(--background-hovered);
    color: var(--color);
    fill: var(--color);
  }
  &.active {
    background: var(--background-hovered);
    color: var(--color);
    fill: var(--color);
    border-left: 2px solid var(--primary);
  }
}
.wrapper__display__text {
  color: var(--color);
  padding: min(12px, 1rem);
}
#wrapper {
  position: relative;

  width: 100%;
  height: 100%;
  background: var(--background);

  display: flex;
  flex-direction: column;

  margin: auto;
}

.wrapper__button {
  width: 100%;
  height: 100%;

  cursor: pointer;

  transition: var(--transition);

  box-shadow: var(--box-shadow);

  &.wrapper__button--especial {
    color: #fff;
    background: var(--primary);

    filter: brightness(90%);

    &:hover {
      filter: brightness(100%);
    }
  }
  &.wrapper__button--normal {
    color: var(--color);
  }
  &.wrapper__button--colorful {
    color: var(--primary);
  }
  &.wrapper__button--inative {
    color: var(--color-dark);
  }

  &.wrapper__button--inative,
  &.wrapper__button--normal,
  &.wrapper__button--colorful {
    background: var(--background-content);
    font-weight: bolder;
    &:hover {
      background: var(--background-hovered);
    }
  }
  &:active {
    transform: translateY(2px);
  }
}
.wrapper__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-gap: 8px;
  padding: min(12px, 1rem);
}
.wrapper__display {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: min(12px, 1rem);
}
#menu-container {
  position: absolute;
  right: 0;

  padding: 10px;
}
#menu-wrapper {
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  right: 100%;

  background: var(--background-content);

  transition: all 0.3s ease-in-out;
  &.opened {
    transform: translateX(100%);
    box-shadow: var(--box-shadow);
  }
  &.closed {
    transform: translateX(0);
    box-shadow: none;
  }
  * {
    font-family: "Jost", sans-serif;
  }
}
body.demo {
  * {
    font-size: 1em;
  }
  #menu-wrapper {
    padding-top: 15px;
  }

  #root {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #wrapper {
    max-width: 250px;
    max-height: 500px;

    box-shadow: var(--box-shadow);
    border-radius: 2px;
    overflow: hidden;
  }
  .wrapper__button {
    border-radius: 2px;

    padding: min(12px, 1rem);
  }

  .status-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: var(--color);
    padding: 4px;
    * {
      font-family: "Jost", sans-serif;
    }
  }
  .status__left {
    display: flex;
    align-items: center;
  }
  .status-dots__wrapper {
    display: flex;
  }
  .status-dots__item {
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background: var(--color);
    border: 0.5px solid var(--color);
    border-radius: 50%;
    &:nth-child(2n - 1) {
      background: transparent;
      animation: dot_animation 0.5s linear 0s infinite alternate;
    }
    &:last-child {
      border-radius: 0;
    }
    @keyframes dot_animation {
      from {
        background: transparent;
      }
      to {
        background: var(--color);
      }
    }
  }
  .status__time {
    font-size: 10px;
    color: var(--color);
  }
  .status__battery {
    display: flex;
    align-items: center;
  }
  #battery-icon {
    width: 14px;
    height: 7.5px;
    background: linear-gradient(
      to right,
      var(--color) 0%,
      var(--color) 82%,
      transparent 82%
    );
    border: 1px solid var(--color);
    border-radius: 1px;
  }
  .status__battery__level {
    font-size: 10px;
    color: var(--color);
    margin-right: 4px;
  }

  #menu-container {
    z-index: 1000;
    top: 15px;
  }

  .menu-wrapper__title {
    font-size: 0.8em;
    padding: 14px;
  }

  .menu-wrapper__item {
    font-size: 0.6em;
    padding: 4px 14px;

    p {
      margin-left: 5px;
    }
  }
}
body.functional {
  #wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    background: var(--background);

    display: flex;
    flex-direction: column;

    margin: auto;
  }

  .status-bar {
    display: none;
  }

  .wrapper__display__text {
    font-size: max(4vw, 40px);
  }

  .wrapper__button {
    font-size: max(3vw, 30px);

    border-radius: 12px;

    padding: min(12px, 1rem);
  }
  .wrapper__display__text {
    font-size: 2em;
  }
  .menu-wrapper__title {
    font-size: max(16px, 2vw);

    padding: 1rem;
  }
  .menu-wrapper__item {
    font-size: max(1.2vw, 12px);

    padding: 1rem 2rem;

    p {
      margin-left: 1.5rem;
    }
  }
  #menu-container {
    top: 0;
  }
}
