body {
  --transition: all 0.1s ease-in-out;
}

body.dark {
  // =================================
  // Calculator colors
  // =================================
  --color: #e9f6fb;
  --color-dark: #788c97;
  --background: #1e3c44;
  --background-content: #22434a;
  --background-hovered: #294b52;
  --box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  --primary: #a6df38;

  --body-background: rgb(13, 40, 48);

  background: var(--body-background);
}

body.light {
  // =================================
  // Calculator colors
  // =================================
  --color: #696969;
  --color-dark: #c1c8c1;
  --background: #fbfdfc;
  --background-content: #ffffff;
  --background-hovered: #f5f6f8;
  --box-shadow: 2px 2px 3px 0 #e3e3e3;
  --primary: #a6df38;

  --body-background: #f1f1f1;

  background: var(--body-background);
}
